.App{
  background-color: #282c34;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.card{
  margin-top: 20px;
  background: black;
}

.add-appointment .card-body{
  display: none;
}

/* Add Appointment Class */
.apt-addheading{
  cursor: pointer;
}

.input-group{
  width: 300px;
  align-items: center;
}

.not-found{
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
